---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import astronautImage from "~/assets/astronaut.png";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="slpash relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Icon name="logomark" class="h-24 text-white md:h-32" />
      <div class="button-section grid grid-cols-1 gap-2 sm:grid-cols-2">
        <a
          href="https://docs.astro.build/"
          class="font-museo flex items-center justify-center gap-3 border-2 border-current px-6 py-4 rounded-full"
        >
          <Icon pack="mdi" name="telescope" class="h-8" />
          <span>Recibir Ayuda</span>
        </a>
        <a
          href="https://astro.new/"
          class="font-museo flex items-center justify-center gap-3 border-2 border-current px-6 py-4 rounded-full"
        >
          <Icon pack="mdi" name="rocket" class="h-8" />
          <span>Ayudar</span>
        </a>
      </div>
    </h2>
    <div
      id="astronaut"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Image
        class="h-full w-full object-cover"
        src={astronautImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="Un astronauta flotando en el espacio con un fondo de luna"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  
  .button-section {
    transition: all 0.5s ease-in-out;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .button-section a:hover {
    text-shadow: 0 0 1.5rem #52ffc5;
    filter:drop-shadow(0 0 1.4rem #52ffc5);
    background-color: rgba(0, 0, 0, 0.493);; 
    color: rgb(82, 255, 197);
  }

  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0,30px, 0);
    }
  }

  #astronaut {
    animation: float 3s ease-in-out infinite alternate;
  }


</style>
